@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

.home {
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.top-btn {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--darkgrey);
  border: 2px solid var(--blue);
  font-size: 2rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
  color: var(--white);
}

.grey-wrapper {
  background-color: var(--darkgrey);
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  width: 90%;
  display: block;
  margin: 1.5rem auto;
}

.news-wrapper {
  background-color: var(--darkgrey);
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  justify-content: space-between;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 1.5rem auto;
}

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

[data-theme="dark"] {
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
}

[data-theme="light"] {
  --white: #111;
  --black: #fff;
  --grey: #888;
  --darkgrey: #f3f3f3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);

  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--white);
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  text-decoration: none;
  color: var(--white) !important;
}

.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: var(--blue);
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
}

.cursor-pointer {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: transparent;
  border-radius: 50%;
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 2rem;
  width: 2rem;
  transition: all 400ms ease-out;
}

@media only screen and (max-width: 600px) {
  .cursor-pointer,
  .cursor {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .news-wrapper {
    flex-direction: column;
  }
}